%div.user_index
  %h2
    = link_to "Current Users", users_path
    - User.all.each do |user|
      %div.each_user
        - if user.user_image != nil
          %h4.left
            = image_tag user.user_image.thumb.url, onerror="this.src='user_default.png';"
          %h4.right
            = link_to user.username, user_path(user)
            %br
