<div class='games'>
</div>
      <% @games.each do |game| %>
      <div class='game'>
        <%= image_tag game.game_image.detail.url %>
        <%= game.name %>
        <%= game.description %>
     </div>
      <%end%>


