%h2
  %div.users
    %h3 Choose your opponent
    - @users.each do |user|
      - if user.user_image != nil
        - if user != current_user
          %div.user_list
            %h4.left
              = image_tag user.user_image.thumb.url
            %h4.right
              = link_to user.username, create_matches_path(@game.id, user.id)
              %br