/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body a:hover, a:focus {
  text-decoration: none;
}

h2.header a {
  color: #000;
  border-right: 2px solid #000;
  padding-right: 30px;
}

h2.header a:hover, a:focus {
  text-decoration: none;
  color: #777;
}

.search-query.span3 {
  float: right;
  margin-top: 20px;
}

body {
  background-image: url("/images/DonkeyKong.jpg");
}

div.container {
  margin: 0 auto;
  width: 960px;
  color: #000;
  padding-bottom: 40px;
}

ul.nav li{
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444444;
}

ul.nav li a:hover, a:focus {
  color: #222;
}

li.break {
  height: 30px;
  padding-top: 10px;
  color: #bbbbbb;
}

ul.nav {
  float: left;
}

.navbar-inner {
  background-color: #fff;
  color: #fff;
  max-height: 70px;
}

div.footer {
  height: 30px;
  background-color: #CC97A9;
}

div.logo {
    width: 500px;
    margin: 0px;
    display: inline-block;
}

h1.logo {
  width: 500px;
  margin: 0px;
}

.logo a {
  padding: 40px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  background-color: #CC97A9;
  text-decoration: none;
  color: #eee;
  text-shadow: 1px 1px #777777;
  -webkit-box-shadow: inset 0 0 10px #000;
  -moz-box-shadow: inset 0 0 10px #000;
  -ms-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  background-color: #CC97B1; background-image: -webkit-gradient(linear, left top, left bottom, from(#CC97B1), to(#BB7597));
  background-image: -webkit-linear-gradient(top, #CC97B1, #BB7597);
  background-image: -moz-linear-gradient(top, #CC97B1, #BB7597);
  background-image: -ms-linear-gradient(top, #CC97B1, #BB7597);
  background-image: -o-linear-gradient(top, #CC97B1, #BB7597);
  background-image: linear-gradient(to bottom, #CC97B1, #BB7597);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,start Colorstr=#CC97B1, endColorstr=#BB7597);
}

.logo a:hover, a:focus {
    color: #000;
    text-decoration: none;
  }

.container h2 {
    float: left;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 15px;
  }

.login {
  float: right;
  text-align: right;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 16px;
}

h5.login, h5.logout {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 5px;
  margin: 4px;
  margin-right: 0px;
  background-color: #CC97A9;
  text-align: center;
  height: 35px;
  width: 70px;
  padding-top: 15px;
  color: #eee;
  text-shadow: 1px 1px #777777;
  -webkit-box-shadow: inset 0 0 10px #000;
  -moz-box-shadow: inset 0 0 10px #000;
  -ms-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  background-color: #CC97B1; background-image: -webkit-gradient(linear, left top, left bottom, from(#CC97B1), to(#BB7597));
  background-image: -webkit-linear-gradient(top, #CC97B1, #BB7597);
  background-image: -moz-linear-gradient(top, #CC97B1, #BB7597);
  background-image: -ms-linear-gradient(top, #CC97B1, #BB7597);
  background-image: -o-linear-gradient(top, #CC97B1, #BB7597);
  background-image: linear-gradient(to bottom, #CC97B1, #BB7597);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,start Colorstr=#CC97B1, endColorstr=#BB7597);
  float: right;
}

div.welcome h5 {
  background-color:rgba(255,255,255,1);
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 6px #111;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  vertical-align: middle;
}

.welcome h5 a {
  color: #555;
  text-shadow: none;
}

.welcome h5 a:hover, a:focus {
  color: #888;
  text-shadow: none;
}

.logout .welcome a {
  color: #555;
}

.login a, .logout a {
  text-decoration: none;
  color: #eee;
  vertical-align: middle;
  text-shadow: 1px 1px #777777;
}

.login a:hover, a:focus {
  text-decoration: none;
  color: #000;
}

p.user {
  color: #eee;
}

h2.header {
  padding-right: 0px;
}

