div.games {
  background-color:rgba(255,255,255,0.8);
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 6px #111;
  margin-top: 25px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  min-height: 300px;
  width: 600px;
}

h2.title {
  text-align: center;
  float: none;
  padding: 0;
}

div.game {
  width: 200px;
  padding: 25px;
  margin: 10px;
  // border: 2px solid #777;
  border-radius: 6px;
  background-color: #fff;
  display: inline-block;
}

// div.game:hover {
//   height: 250px;
//   word-wrap: break-word;
//   overflow: visible;
// }

div.game_text p.wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.game_text p a:hover, h5 a:hover {
  text-decoration: none;
}

div.image_tag {
  height: 150px;
  width: 150px;
  margin: auto;
}

div.game_scores, div.current_users {
  background-color:rgba(255,255,255,0.8);
  width: 430px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 6px #111;
  text-align: center;
  padding-bottom: 10px;
  text-align: center;
  float: left;
  min-height: 600px;
}

div.current_users {
  float: right;
  max-height: 750px;
  overflow: hidden;
}

div.game_table {
  background-color: #fff;
  width: 300px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 10px;
  min-height: 400px;
  text-align: center;
}

div.game_table h3 {
  margin-top: 0;
}

div.game_table h2 a {
  margin-top: 0;
  text-decoration: none;
  color: #4B93DB;
}

.score_table {
  padding: 40px;
}

div.each_game_score {
  display: inline-block;
  border-top: 1px solid #000;
  min-width: 250px;
  margin-top: 20px;
  padding-top: 10px;
}

.each_game_score h4 img {
  margin: auto;
  text-align: center;
  padding: 10px;
}

div.user_info {
  background-color: #fff;
  width: 300px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 10px;
}

h2.user_info {
  margin-top: 0;
  text-decoration: none;
  color: #4B93DB;
  float: none;
  padding: none;

}

div.each_user {
    display: inline-block;
  border-top: 1px solid #000;
  min-width: 250px;
  margin-top: 20px;
  padding-top: 10px;
  overflow: hidden;
}

div.each_user h4.left {
  float: left;
  }

div.each_user h4.right {
  float: right;
  }
